### OSX
.DS_Store

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Hugo
/.hugo_build.lock
public
resources/_gen
content/_external
